doctype
html
  head
    link(rel="stylesheet", href="/css/main.css")
  body
    div.wrap
      div.slider
        div.item item1
        div.item item2
        div.item item3
        div.item item1
        div.item item2
        div.item item3
    